<div [ngClass]="authService.isLoggedIn?'container-fluid':'container-fluid mainLogin'">
	<div class="row">

		<div class="col-lg-2 sidebar" *ngIf="authService.isLoggedIn">

			<div class="logo-area">
				<img src="assets\images\ICON-logo.gif" width="60%" class="img-responsive">
			</div>

			<div class="navbar-collapse collapse sidebar-navbar-collapse">
				<div class="alert alert-info" *ngIf="showLocation">{{appLocation}} </div>
				<ul class="nav navbar-nav">
					<li class="active">
						<a data-toggle="collapse" data-target="#loggedInAccount" data-parent="#sidenav01" class="collapsed">
						 Logged in: {{authService.userName}} <span class="glyphicon glyphicon-menu-down plus plus-glyphicon" aria-hidden="true"></span>
						</a>
						<div class="collapse " id="loggedInAccount" style="height: 0px;">
							<ul class="nav nav-list  panel-body">
								<p>My roles: {{authService.roles}} </p>
								<li class="active"> <a routerLink="/my-loginhistory" routerLinkActive="active">My Login History</a></li>
								<li class="active"> <a routerLink="/changepassword" routerLinkActive="active">Change Password</a></li>

								<li class="active"> <a (click)="logout()" routerLinkActive="active">Logout</a></li>
							</ul>
						</div>
						<li>

							<li class="active" *ngIf="authService.isUser"> <a routerLink="/search" routerLinkActive="active">Due Diligence Search</a></li>
							<li class="active" *ngIf="authService.isUser"> <a routerLink="/closed-icfs" routerLinkActive="active">Closed Reviews        </a></li>
							<li class="active" *ngIf="authService.isUser"> <a routerLink="/all-iscfs" routerLinkActive="active">All Searches        </a></li>
							<li class="active" *ngIf="authService.isAdmin"> <a routerLink="/manage-compliance-forms" routerLinkActive="active">Manage Reassignments</a></li>

							<li class="active" *ngIf="authService.isAdmin"> <a routerLink="/users" routerLinkActive="active">Users</a></li>

							<li class="active" *ngIf="authService.isAdmin">
								<a data-toggle="collapse" data-target="#config" data-parent="#sidenav01" class="collapsed">
						 			Configurations<span class="glyphicon glyphicon-menu-down plus plus-glyphicon" aria-hidden="true"></span>
								</a>
								<div class="collapse" id="config" style="height: 0px;">
									<ul class="nav nav-list  panel-body">
										<li class="active" *ngIf="authService.isAdmin"> <a routerLink="/manage-site-sources" routerLinkActive="active">Site Sources</a></li>
										<li class="active" *ngIf="authService.isAdmin"> <a routerLink="/add-country" routerLinkActive="active">Country Specific Sites</a></li>
										<li class="active" *ngIf="authService.isAdmin"> <a routerLink="/manage-sponsor-protocol" routerLinkActive="active">Sponsor  Specific Sites</a></li>
									</ul>
								</div>
							</li>

							<li class="active" *ngIf="authService.isAdmin">
								<a data-toggle="collapse" data-target="#logs" data-parent="#sidenav01" class="collapsed">
						 			Logs<span class="glyphicon glyphicon-menu-down plus plus-glyphicon" aria-hidden="true"></span>
								</a>
								<div class="collapse" id="logs" style="height: 0px;">
									<ul class="nav nav-list  panel-body">
										<li class="active" *ngIf="authService.isAdmin"> <a routerLink="/all-loginhistory" routerLinkActive="active">Login History</a></li>
										<li class="active" *ngIf="authService.isAdmin"> <a routerLink="/all-loginhistory" routerLinkActive="active">Error Log</a></li>
										<li class="active" *ngIf="authService.isAdmin"> <a routerLink="/data-extraction-history" routerLinkActive="active">Extraction Status</a></li>
									</ul>
								</div>
							</li>

							<li class="active" *ngIf="authService.isAppAdmin">
								<a data-toggle="collapse" data-target="#appadminMenu" data-parent="#sidenav01" class="collapsed">
						 			App Admin<span class="glyphicon glyphicon-menu-down plus plus-glyphicon" aria-hidden="true"></span>
								</a>
								<div class="collapse" id="appadminMenu" style="height: 0px;">
									<ul class="nav nav-list  panel-body">
										<li class="active" *ngIf="authService.isAdmin"> <a routerLink="/users" routerLinkActive="active">Users</a></li>
										<li class="active"> <a routerLink="/app-admin-dashboard" routerLinkActive="active">App Admin Dashboard</a></li>

										<li class="active" *ngIf="authService.isAdmin"> <a routerLink="/error-images" routerLinkActive="active">Error Images</a></li>

										<li class="active" *ngIf="authService.isAdmin"> <a routerLink="/data-extraction" routerLinkActive="active">Data Extraction History</a></li>
									</ul>
								</div>
							</li>

							<li class="active"> <a routerLink="about-ddas" routerLinkActive="active">About DDAS</a></li>
							
				</ul>

			</div>

		</div>

		<div class="col-lg-10" style="background-color: #f2f2f2">
			<div class="main">
				<div class="header-top" *ngIf="authService.isLoggedIn">
					<h1 class="page-header">Due Diligence Automation System</h1>
				</div>
				<div class="well-top">
					<router-outlet> </router-outlet>
				</div>
			</div>
		</div>
	</div>
</div>