
<div finding-edit-base [Finding]="Finding" [Title]="'QC Verifier Finding'">
    <hr>
    <div class="row">
        <div class="col-md-12">
            <label for="comment">
                <h4>QC Verifier's Comment:</h4>
                <!-- {{diagnostic}} -->
            </label>
            <br/>
            <div class="col-md-4">
                <label for="Category">Category:</label>
                <select class="form-control" name="AssignedTo" [(ngModel)]="getQCVerifierComment.CategoryEnum">
                    <option value="8" selected="selected">Not Applicable</option>
                    <option value="0">Minor</option>
                    <option value="1">Major</option>
                    <option value="2">Critical</option>
                    <option value="3">Suggestions</option>
                    <option value="4">Others</option>
                </select>
            </div>
            <textarea class="form-control" name="Comment"  rows="3" cols="30" required
                [(ngModel)]="getQCVerifierComment.FindingComment" placeholder="Comment">
            </textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-default" (click)="RemoveClicked()">Remove</button>
        </div>
    </div>
</div>