<div finding-view-base [Finding]="Finding" [Title]="'QC Response'" (ValueChanged)="formValueChanged()">
    <div class="row">
        <div class="col-md-12">
            <!-- {{diagnostic}} -->
            <label for="comment">
                <h4>QC Verifier's Comment:</h4>
            </label>
            <br/>
  
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <label for="Category">Category:</label>
                <select class="form-control" name="AssignedTo" 
                [(ngModel)]="getQCVerifierComment.CategoryEnum"
                (change)="formValueChanged()">
                    <option value="8" selected="selected">Not Applicable</option>
                    <option value="0">Minor</option>
                    <option value="1">Major</option>
                    <option value="2">Critical</option>
                    <option value="3">Suggestions</option>
                    <option value="4">Others</option>
                </select>
        </div>
    </div>
    <div class="row">
            <div class="col-md-12">
                    <textarea class="form-control" name="Comment" rows="3" cols="30" required placeholder="Comment" 
                    [(ngModel)]="getQCVerifierComment.FindingComment"
                    (change)="formValueChanged()">
                        </textarea>
            </div>
        </div>
</div>