

<div finding-view-base [Finding]="Finding" [Title]="'Response to QC Verifier Finding'">
    <div class="row">
        <div class="col-md-12">
            <label for="comment">
                <h4>QC Verifier's comments:</h4>
            </label>
            <textarea class="form-control" name="Comment"  rows="3" cols="30" readonly
                placeholder="Comment">
                    </textarea>
        </div>
        <div class="col-md-12">
                Notes: Finding added by QC Verifier cannot be modified by Reviewer. It will be included in the ICSF.
                <br>
                <label for="comment">
                    <h4>Respone to QC Verifier's Finding:</h4>
                </label>
                <textarea class="form-control" name="Comment"  rows="3" cols="30" 
                    placeholder="Comment">
                        </textarea>
            </div>
    </div>

</div>




