<div class="row">
	<div class="col-lg-12">

		<div class="well">
			<form #f="ngForm" novalidate>
				<div class="row">
					<div class="col-lg-12">
						<h3 class="align-left no-margin-top">
							{{isNewText}}
						</h3>
					</div>
				</div>


				<div class="row">
					<div class="col-lg-12">
						<div class="form-group">
							<label for="SiteName">Site Name:</label>

							<div *ngIf="(SiteSource.ExtractionMode | lowercase) == 'manual'">
								<input type="text" class="form-control" name="SiteName" [(ngModel)]="SiteSource.SiteName">
							</div>
							<div *ngIf="(SiteSource.ExtractionMode | lowercase) != 'manual'">
								{{SiteSource.SiteName}}
							</div>
						</div>
					</div>

				</div>
				<div class="row">
					<div class="col-lg-8">
						<div class="form-group">
							<label for="shortname">Short Name:</label>
							
							<div *ngIf="(SiteSource.ExtractionMode | lowercase) == 'manual'">
								<input type="text" class="form-control" name="shortname" [(ngModel)]="SiteSource.SiteShortName">
							</div>
							<div *ngIf="(SiteSource.ExtractionMode | lowercase) != 'manual'">
								{{SiteSource.SiteShortName}}
							</div>

						</div>
					</div>

					<div class="col-lg-4">
					</div>
				</div>
				<div class="row">

					<div class="col-lg-12">
						<div class="form-group">
							<label for="SiteUrl">URL:</label>
							<div *ngIf="(SiteSource.ExtractionMode | lowercase) == 'manual'">
								<input type="text" class="form-control" name="SiteUrl" [(ngModel)]="SiteSource.SiteUrl">
							</div>
							<div *ngIf="(SiteSource.ExtractionMode | lowercase) != 'manual'">
								{{SiteSource.SiteUrl}}
							</div>

						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-8">
						<div class="form-group">
							<label for="extractionMode">Extraction Mode:</label>
							<label name="extractionMode">{{SiteSource.ExtractionMode}} </label>
							<!--<input type="text" name="ExtractionMode" class="form-control" [(ngModel)]="SiteSource.ExtractionMode">-->
						</div>
					</div>
					<div class="col-lg-4">
					</div>
				</div>

				

				<div class="row">
					<div class="col-lg-4">
						<div class="row">
							<div class="col-lg-8">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4">
						<button type="button" class="btn btn-primary" (click)="Save()" title="Save"><span class="glyphicon glyphicon-ok" > Save</span></button>
						<button type="button" class="btn btn-primary" (click)="CancelSave()" title="Cancel">Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>