<div class="row">
	<div class="col-lg-12">

		<div class="well">
			<div class="row">
				<div class="col-lg-12">
					<h3 class="align-left no-margin-top">
						Sponsor Specific Sites
					</h3>
				</div>
			</div>
		</div>

		<div class="well">
			<div class="row">
				<div class="col-lg-12">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Sponsor Protocol Number</th>
								<th>Site Name</th>
								<th>URL</th>
								<th>Mandatory</th>
								<th>Extraction Mode</th>
								<th>Applies To</th>
								<th>Site Type</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<!--<tr *ngFor="let item of ErrorImages | paginate: { itemsPerPage: 10, currentPage: pageNumber}" class="active"> -->
							<tr *ngFor="let item of sponsorProtocolsAdded | paginate: { itemsPerPage: 10, currentPage: pageNumber}" class="active">
								<td class="text-center">
									{{item.SponsorProtocolNumber}}
								</td>
								<td class="text-left">
									{{item.SiteName}}
								</td>
								<td class="text-left">
									{{item.SiteUrl}}
								</td>
								<td class="text-center">
									{{item.IsMandatory | boolToYesNo}}
								</td>
								<td class="text-center">
									{{item.ExtractionMode}}
								</td>
								<td class="text-center">
									{{item.SearchAppliesToText}}
								</td>
								<td class="text-center">
									{{item.SiteTypeText}}
								</td>
								<td>
									<button type="button" class="btn btn-sm btn-primary" (click)="Edit(item.RecId)" data-toggle="tooltip" data-placement="top"><span class="glyphicon glyphicon-edit" ></span></button>									
									<button type="button" *ngIf="extractionModeIsManual(item.ExtractionMode)" class="btn btn-sm btn-primary" (click)="setSelectedRecordDetails(item); DeleteConfirmModal.open()" title="delete"> <span class="glyphicon glyphicon-remove"></span> </button>
								</td>
							</tr>
						</tbody>
					</table>
					<pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>
				</div>
				<button type="button" class="btn btn-primary" (click)="Add()">Add</button>
			</div>
		</div>
		<!--</div>-->
	</div>
</div>

<modal #DeleteConfirmModal>
	<modal-header>
		<h4 class="modal-title">Delete confirm</h4>
	</modal-header>
	<modal-body>
		Site Source <b> {{selectedRecordName}} </b> will be deleted.
	</modal-body>
	<modal-footer>
		<button type="button" class="btn btn-default" (click)="Delete(); DeleteConfirmModal.close()">Confirm Delete</button>
		<button type="button" class="btn btn-default" (click)=" DeleteConfirmModal.close()">Cancel</button>
	</modal-footer>
</modal>