<div class="row">
	<div class="col-lg-12">

		<div class="well">
			<div class="row">
				<div class="col-lg-12">
					<h3>
						About <strong>Due Diligence Automation System (DDAS) </strong>
					</h3>
					<h6>Ver: D1.0.3 06 February, 2017, 10:50</h6>
				</div>
			</div>

		</div>

		<div class="well">

			<div class="row">
				<div class="col-lg-6">

					<p>DDAS Web Application manages creation of Investigator Compliance Search Forms for the DDAS team.</p>
					<p>The application scans the regulatory databases and sites for information on Debarments, Regulatory Audits and Findings,
						Warning Letters, Notice of Disqualifications/Restrictions and Administrative Actions for the Investigators listed in
						the Compliance Form.</p>
					<p>1. Perform checks on all 12 Mandatory websites and provide the result in a readable, easy to access format.</p>
					<p>2. System searches with all the possible permutation combinations of the given search criteria (first name and last
						name).
					</p>
					<p>3. Application records the search history and audit logs.</p>
					<p>4. Basic reports with filters are provided.</p>

				</div>
				<div class="col-lg-6">
					<h4>Application Administrators:</h4>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Name</th>
								<th>Email Id</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of Admins" class="active">
								<td class="text-left">
									{{item.UserName}}
								</td>
								<td class="text-center">
									{{item.EmailId}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
</div>