<div class="row">
    <div class="col-lg-12">
        <!-- <div class="well"> -->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="PrincipalInvestigator">Project Number:</label> {{complianceForm?.ProjectNumber}} {{complianceForm?.ProjectNumber2}}
                    </div>
                    <div class="form-group">
                        <label for="Institute">Institute:</label> {{complianceForm?.Institute}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="SponsorProtocolNumber">Sponsor Protocol Number:</label> {{complianceForm?.SponsorProtocolNumber}} {{complianceForm?.SponsorProtocolNumber2}}
                    </div>
                    <div class="form-group">
                        <label for="Address">Address:</label> {{complianceForm?.Address}}
                    </div>
                </div>
            </div>

            <h4>Investigators:</h4>
            <div class="well">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="col-md-2 text-left">Role</th>
                            <th class="col-md-3 text-left">Investigator Name</th>
                            <th class="col-md-2 text-left">Medical License Number</th>
                            <th class="col-md-3 text-left">Investigator Name (All Combinations Searched)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="active" *ngFor="let item of Investigators">
                            <td class="text-left">
                                {{item.Role}}
                            </td>
                            <td class="text-left">
                                {{item.Name}}
                            </td>
                            <td class="text-left">
                                {{item.MedicalLiceseNumber}}
                            </td>
                            <td class="text-left">
                                {{item.SearchName}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h4>Site Sources:</h4>
            <div class="well">
                <div class="row">
                    <div class="col-lg-12">

                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th class="text-left">Source #</th>
                                    <th class="text-left">Source Name</th>
                                    <th class="text-center">Source Date</th>
                                    <th class="text-left">Weblink</th>
                                    <th class="text-left">Issues Identified</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="active" *ngFor="let item of SiteSources">
                                    <td class="text-left">
                                        {{item.Id}}
                                    </td>
                                    <td class="text-left">
                                        {{item.SiteName}}
                                    </td>
                                    <td class="text-left">
                                        {{item.SiteSourceUpdatedOn | date: 'dd MMM yyyy'}}
                                    </td>
                                    <td class="text-left" title="{{item.SiteUrl}}">
                                        {{item.SiteUrl | slice:0:50}}
                                    </td>
                                    <td class="text-left">
                                        {{item.IssuesIdentified | boolToYesNo }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <h4>Additional Site Sources:</h4>
            <div class="well">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="col-md-1 text-left">Source #</th>
                            <th class="col-md-4 text-left">Source Name</th>
                            <th class="col-md-3 text-center">Source Date</th>
                            <th class="col-md-4 text-left">Weblink</th>
                            <th class="col-md-1 text-left">Issues Identified</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="active" *ngFor="let item of additionalSiteSources">
                            <td class="text-left">
                                {{item.Id}}
                            </td>
                            <td class="text-left">
                                {{item.SiteName}}
                            </td>
                            <td class="text-left">
                                {{item.SiteSourceUpdatedOn | date: 'dd MMM yyyy'}}
                            </td>
                            <td class="text-left">
                                {{item.SiteUrl}}
                            </td>
                            <td class="text-left">
                                {{item.IssuesIdentified | boolToYesNo }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h4>Findings:</h4>
            <div class="well">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="col-md-1 text-left">Source #</th>
                            <th class="col-md-3 text-left">Investigator Name</th>
                            <th class="col-md-3 text-center">Date Of Inspection/Action</th>
                            <th class="col-md-4 text-center">Description Of Findings</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="active" *ngFor="let item of Findings">
                            <td class="text-left">
                                {{item.SiteSourceId}}
                            </td>
                            <td class="text-left">
                                {{item.InvestigatorName}}
                            </td>
                            <td class="text-left">
                                {{item.DateOfInspection | date: 'dd MMM yyyy'}}
                            </td>
                            <td class="text-left">
                                {{item.Observation}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            <!-- </div> -->
        </div>
    </div>