<div class="row">
	<div class="col-lg-12">
		<div class="well">
			<h3 class="no-margin-top">QC by </h3>
			<label for="auditStatus">Status:</label>
		</div>
	</div>
	<div class="col-lg-12">
		<!-- <compliance-form-view [ComplianceFormId]="audit.ComplianceFormId"></compliance-form-view> -->
		<div compliance-form-view [complianceForm]="complianceForm"></div>
	</div>
	<div class="well">
		<div class="row">
			<button type="button" class="btn btn-primary" (click)="openComplianceForm()">open compliance form</button>
		</div>
		<br/>

		<!-- <h4>General Observation:</h4>
		<table class="table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th class="col-md-2 text-left">Category</th>
					<th class="col-md-3 text-left">Observation/Comment</th>
				</tr>
			</thead>
			<tbody>
				<tr class="active" *ngFor="let item of complianceForm.Comments">
					<td class="text-left">
						{{commentCategoryString}}
					</td>
					<td class="text-left">
						{{item.FindingComment}}
					</td>
				</tr>
			</tbody>
		</table> -->

		 <h4>Finding Summary:</h4>
		<table class="table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th class="col-md-2 text-left">Investigator/Institute Name</th>
					<th class="col-md-3 text-left">Source Name</th>
					<th class="col-md-3 text-left">Comment/Observation Type</th>
					<th class="col-md-2 text-left">Category</th>
					<th class="col-md-3 text-left">Observation/Comment</th>
					<th class="col-md-2 text-left">Response to QC</th>
				</tr>
			</thead>
			<tbody>
				<tr class="active" *ngFor="let item of qcSummary">
					<td class="text-left">
						{{item.Investigator}}
					</td>
					<td class="text-left">
						{{item.SourceName}}
					</td>
					<td class="text-left">
						{{item.Type}}
					</td>
					<td class="text-left">
						{{item.CategoryEnumString}}
					</td>					
					<td class="text-left">
						{{item.Comment}}
					</td>
					<td class="text-left">
						{{item.ResponseToQC}}
					</td>
				</tr>
			</tbody>
		</table> 

		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<label for="Status">QC Response:</label>
					<select class="form-control" [(ngModel)]="status">
						<option value=-1 selected="selected">---select---</option>
						<option value=0>Failed</option>
						<option value=1>Passed</option>
					</select>
				</div>
			</div>
			<div class="col-md-9">
			</div>
		</div>

		<pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>
		<!-- <button type="button" class="btn btn-primary">Save</button> -->
		<button *ngIf="!isSubmitted" type="button" class="btn btn-primary" (click)="submit()">Submit</button>

		<div clas="row">
			<button type="button" class="btn btn-primary" (click)="goBack()">Back</button>
		</div>
	</div>
</div>