<div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <h4>Search Performed By: XXX</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <label for="NameToSeaICONrch">Searched By:</label>
                        <label class="form-control">{{CompForm.AssignedTo}}</label>

                    </div>
                    <div class="col-lg-6">
                        <label for="NameToSeaICONrch">Searched On:</label>
                        <label class="form-control">{{CompForm.SearchStartedOn | date: 'dd MMM yyyy'}}</label>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>