<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
  <add key="DBConnection" value="mongodb://127.0.0.1/27017;database=DDAS" /> 
   
  
  </appSettings>
    <connectionStrings>
      <add name="DefaultConnection" providerName="MySql.Data.MySqlClient" connectionString="Server=127.0.0.1;Database=ICON_DDAS;Uid=mysqluser;Pwd=Pwd1234$$;Allow User Variables=True;" />
      <add name="DBConnection1"  connectionString="mongodb://127.0.0.1/27017;database=DDAS" />
      <add name="DBConnection"  connectionString="mongodb://127.0.0.1/DDAS" />

    </connectionStrings>
</configuration>
