<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
      <add key="DataExtractionLogFile" value="C:\Development\p926-ddas\DDAS.API\Logs\DataExtraction.log"/>
      <add key="DownloadFolder" value="C:\Development\p926-ddas\DDAS.API\Downloads\"/>
 
  </appSettings>
    <connectionStrings>
      <add name="DBConnection1"  connectionString="mongodb://127.0.0.1/27017;database=DDAS" />
      <add name="DBConnection"  connectionString="mongodb://127.0.0.1/DDAS" />
      <add name="DefaultConnection" connectionString="mongodb://127.0.0.1/DDAS" />
    </connectionStrings>
</configuration>

