<div class="row">
	<div class="col-md-12">
		<div class="well">
			<h3 class="no-margin-top">Change Password</h3>
			<br>
			<div class="row">
				<div class="col-md-6 ">


					<form class="well " name="form" #formCtrl="ngForm">
						<label for="password">Password</label>
						<input type="password" ngControl="password" class="form-control" name="password" [(ngModel)]="changePasswordModel.CurrrentPassword"
							required>

						<label for="password">New Password</label>
						<input type="password" ngControl="password" class="form-control" name="new-password" [(ngModel)]="changePasswordModel.NewPassword"
							required>

						<label for="password">Confirm New Password</label>
						<input type="password" ngControl="password" class="form-control" name="new-password" [(ngModel)]="changePasswordModel.ConfirmPassword"
							required>
						<button [disabled]="!formCtrl.form.valid" class="btn btn-lg btn-primary btn-block" type="submit" (click)="changepassword()">Change</button>
						<br>
						<div *ngIf="error" class="alert alert-danger">{{error}}</div>
                        <div *ngIf="result" class="alert alert-success">{{result}}</div>
 					</form>
				</div>
				<div class="col-md-6 ">
				</div>
			</div>
		</div>
	</div>
</div>