<div finding-view-base [Finding]="Finding" [Title]="'QC Response'">
    <div class="row">
        <div class="col-md-12">
            <label *ngIf="isQCCommentAdded()">
                <h4>QC Response:</h4>
            </label>
            <br/>
            <label *ngIf="isQCCommentAdded()">Category: {{qcCommentCategory}}</label>
            <br/>
            <textarea *ngIf="isQCCommentAdded()" class="form-control" name="Comment" [(ngModel)]="qcComment" rows="3" cols="30" readonly
                required placeholder="Comment">
                    </textarea>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <label *ngIf="isQCCommentAdded()">QC Correction Status: {{reviewerCommentCategory}}</label>
        </div>
    </div>
</div>

<div *ngIf="dividerGeneration(indexVal)">
    <div style="clear:both;"></div>
</div>

