<div>
    <search-detail 
    [ListItems]="DebarredPersonsList"
    [(isChecked)]="isChecked"
    [SiteData] = "siteData"
    >
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>

                        <th>
                            <input type="checkbox" [(ngModel)]="isChecked" />
                              
                        </th>
                        <th>Status</th>
                        <th>Matched</th>
                        <th>Row Number</th>
                        <th>Name Of Person </th>
                        <th>Effective Date</th>
                        <th>End Of Term Of Debarment </th>
                        <th>From Date Text</th>
                        <th>Volume Page</th>
                        <th>Document Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let DebarredPerson of sortedList">
                        <td>
                            <div align="center">
                                
                                <button type="button" class="btn btn-default" (click)="markApproved()">Notes ...</button>
                            </div>
                        </td>
                        <td>{{DebarredPerson.Status}}</td>
                        <td>{{DebarredPerson.Matched}}</td>
                        <td>{{DebarredPerson.RowNumber}}</td>
                        <td>{{DebarredPerson.NameOfPerson}}</td>
                        <td>{{DebarredPerson.EffectiveDate}}</td>
                        <td>{{DebarredPerson.EndOfTermOfDebarment}}</td>
                        <td>{{DebarredPerson.FrDateText}}</td>
                        <td>{{DebarredPerson.VolumePage}}</td>
                        <td><a target="_blank" [href]="DebarredPerson.DocumentLink">{{DebarredPerson.DocumentName}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </search-detail>
</div>