<div>
    <search-detail 
    [ListItems]="DebarredPersonsList"
    [(isChecked)]="isChecked"
    [SiteData] = "siteData"
    >
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>

                        <th>
                            <input type="checkbox" [(ngModel)]="isChecked" />
                        </th>
                        <th>Status</th>
                        <th>Matched</th>
                        <th>Row Number</th>
                        <th>Name</th>
                        <th>Page Number</th>
                        <th>Record Number </th>
                        <th>Words Matched</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let DebarredPerson of DebarredPersonsList">
                        <td>
                            <div align="center"><input type="checkbox" [(ngModel)]="DebarredPerson.Selected">
                            </div>
                        </td>
                        <td>{{DebarredPerson.Status}}</td>
                        <td>{{DebarredPerson.Matched}}</td>
                        <td>{{DebarredPerson.RowNumber}}</td>
                        <td>{{DebarredPerson.Name}}</td>
                        <td>{{DebarredPerson.PageNumber}}</td>
                        <td>{{DebarredPerson.RecordNumber}}</td>
                        <td>{{DebarredPerson.WordsMatched}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </search-detail>
</div>