<h4>General Information:</h4>
<form #f="ngForm" novalidate>
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="ProjectNumber">ICON Project Number (1234/1234):</label>
                        <input type="text" class="form-control" name="projNumber" [(ngModel)]="CompForm.ProjectNumber" #projNumber="ngModel" required
                            pattern="\d{4}/\d{4}" (change)="formValueChanged()">

                        <small [hidden]="projNumber.valid || (projNumber.pristine && !f.submitted)" class="text-danger">
                            Project Number format 9999/9999 expected.
                        </small>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="ProjectNumber2">ICON Project Number (1234/1234):</label>
                        <input type="text" class="form-control" name="projNumber2" [(ngModel)]="CompForm.ProjectNumber2" #projNumber2="ngModel" required
                            pattern="\d{4}/\d{4}" (change)="formValueChanged()">

                        <small [hidden]="projNumber2.valid || (projNumber2.pristine && !f.submitted)" class="text-danger">
                            Project Number format 9999/9999 expected.
                        </small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="SponsorProtocolNumber">Sponsor Protocol No:</label>
                        <input type="text" class="form-control" name="SponsorProtocolNumber" [(ngModel)]="CompForm.SponsorProtocolNumber" (change)="formValueChanged()">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="SponsorProtocolNumber2">Sponsor Protocol No:</label>
                        <input type="text" class="form-control" name="SponsorProtocolNumber2" [(ngModel)]="CompForm.SponsorProtocolNumber2" (change)="formValueChanged()">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="Country">Country:</label>
                        <input type="text" class="form-control" name="Country" [(ngModel)]="CompForm.Country" (change)="formValueChanged()">
                    </div>
                </div>
                <div class="col-lg-6">

                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="NameToSeaICONrch">Address:</label>
                <textarea name="Address" class="form-control" id="Address" rows="9" cols="30" placeholder="Address" name="Address" [(ngModel)]="CompForm.Address"
                    (change)="formValueChanged()"></textarea>
            </div>
        </div>

    </div>
</form>