 <form role='form'> 
    <div class="well">
         <!-- {{diagnostic}}
        {{tempNumber}}  -->
        <h4>{{Title}}</h4>
        <div class="row">
            <div class="col-md-2">
                    <select class="form-control" name="CommentCategory" 
                    [ngModel]="tempNumber" (ngModelChange)="onChange($event)"
                    (change)="formValueChanged()">
                        <option value="12" selected="selected">---select---</option>
                        <option value="0">Minor</option>
                        <option value="1">Major</option>
                        <option value="2">Critical</option>
                        <option value="3">Suggestions</option>
                        <option value="4">Others</option>
                        <option value="11">No Issues</option>
                    </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <textarea class="form-control" name="Comment" rows="3" cols="30" required placeholder="Comment" 
                    [(ngModel)]="tempText"
                    (change)="formValueChanged()">
                </textarea>
            </div>
        </div>
        <button type="button" class="btn btn-default" 
            (click)="RemoveClicked()" [disabled]="CanRemoveComment">
            Remove
        </button>
        <!-- <ng-content></ng-content> -->
    </div>
 </form>