<div class="row">
	<div class="col-lg-12">

		<div class="well">

			<div class="alert alert-info" *ngIf="loading">
				<strong>Loading ...</strong>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<h3 class="align-left no-margin-top">
						Findings for Institute: {{CompForm.Institute}}
					</h3>
				</div>
			</div>
			<div class="row">

				<div class="col-lg-12">
					<h3 class="align-left no-margin-top">

						<div class="text-left" *ngIf="SiteHasUrl == true">
							<a target="_blank" [href]="sanitize(Site.SiteUrl)">
								Source: {{Site.DisplayPosition + "." + Site.SiteName}}
							</a>
						</div>
						<div class="text-left" *ngIf="SiteHasUrl == false">
							Source: {{Site.DisplayPosition + "." + Site.SiteName}}
						</div>

					</h3>
				</div>
			</div>

		</div>

	</div>


	<div class="row">
		<div *ngFor="let matchedRecord of Findings; let indexVal = index">
			<div *ngIf="selectFindingComponentToDisplay(matchedRecord, 'findingEdit')" class="form-group col-md-6">
				<div selected-finding-edit [Finding]="matchedRecord" (Remove)="SetFindingToRemove(matchedRecord); RemoveConfirmModal.open()">
				</div>
			</div>

			<!-- Not required: -->
			<div *ngIf="selectFindingComponentToDisplay(matchedRecord, 'findingView')" class="form-group col-md-6">
				<div selected-finding-view [Finding]="matchedRecord">
				</div>
			</div>

			<div *ngIf="selectFindingComponentToDisplay(matchedRecord, 'qcVerifierComments')" class="form-group col-md-6">
				<div qc-verifier-comments [QCVerifierRecId]="currentReviewStatus.QCVerifierRecId" [Finding]="matchedRecord">
				</div>
			</div>

			<div *ngIf="selectFindingComponentToDisplay(matchedRecord, 'qcVerifierFinding')" class="form-group col-md-6">
				<div qc-verifier-finding [ReviewerRecId]="currentReviewStatus.ReviewerRecId" [Finding]="matchedRecord"
				 (Remove)="SetFindingToRemove(matchedRecord); RemoveConfirmModal.open()">
				</div>
			</div>

			<div *ngIf="selectFindingComponentToDisplay(matchedRecord, 'responseToQCVerifierFinding')" class="form-group col-md-6">
				<div response-to-qc-verifier-finding [Finding]="matchedRecord">
				</div>
			</div>

			<div *ngIf="selectFindingComponentToDisplay(matchedRecord, 'responseToQCVerifierComments')" class="form-group col-md-6">
				<div response-to-qc-verifier-comment [Finding]="matchedRecord">
				</div>
			</div>
		</div>
	</div>

	<p align="center">

		<button type="button" class="btn btn-primary" (click)="Add()">Add A Finding</button>

	</p>

	<p align="center">
		<!--<label>Review completed: <input type="checkbox"  name="ReviewCompleted" [(ngModel)]="SiteSearchStatus.ReviewCompleted" ></label>-->
		<button type="button" class="btn btn-primary" (click)="goBack()">Back</button>
		<!--<button type="button" class="btn btn-primary" (click)="Save()">Save</button>-->
		<button type="button" class="btn btn-primary" (click)="SaveAndClose()">Save</button>
		<!--<button type="button" class="btn btn-primary" (click)="TestSaveAndClose()">Test Save and Close</button>-->
	</p>
</div>


<modal #IgnoreChangesConfirmModal>
	<modal-header>
		<h4 class="modal-title">Changes not saved.</h4>
	</modal-header>
	<modal-body>
		<p class="help-block">Changes </p>
	</modal-body>
	<modal-footer>
		<button type="button" class="btn btn-default" (click)="setDeactivateValue(); IgnoreChangesConfirmModal.close()">Ignore Changes</button>
		<button type="button" class="btn btn-default" (click)=" IgnoreChangesConfirmModal.close()">Cancel</button>
	</modal-footer>
</modal>

<modal #RemoveConfirmModal>
	<modal-header>
		<h4 class="modal-title">Confirm Removal</h4>
	</modal-header>
	<modal-body>
		Remove Finding ?.
		<br> {{RecordToDeleteText}}
	</modal-body>
	<modal-footer>
		<button type="button" class="btn btn-default" (click)="RemoveFinding(); RemoveConfirmModal.close()">Remove</button>
		<button type="button" class="btn btn-default" (click)=" RemoveConfirmModal.close()">Cancel</button>
	</modal-footer>
</modal>