<div class="row">
	<div class="col-lg-12">
		<div class="well">
			<div class="row">
				<div class="col-lg-12">
					<h3 class="align-left no-margin-top">
						Search Summary
					</h3>
					<div class="alert alert-info" *ngIf="loading">
						<strong>Loading ...</strong>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<h3 class="align-left no-margin-top">
						Investigator: <strong>{{Investigator.Name}}, (Role: {{Investigator.Role}})</strong>
					</h3>
					<div *ngIf="false" statusCircle [status]="Investigator.StatusEnum" size=24 [title]="Investigator.Status"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">

		<div class="well">
			<h4>
				Summary:<br> Reviews Pending: <strong>{{ReviewPendingCount}}</strong> | Sites with full Match: <strong>{{Investigator.Sites_FullMatchCount}}</strong>|
				Partial Matches: <strong>{{Investigator.Sites_PartialMatchCount}}</strong> <br> Issues Identified: <strong>{{Investigator.TotalIssuesFound}}</strong>|Extraction
				Errors: <strong>{{Investigator.ExtractionErrorSiteCount}}</strong> | Extraction Pending: <strong>{{Investigator.ExtractionPendingSiteCount}}</strong>

			</h4>
			<h4>
				Filters:<br> Hide Review Completed Sites: <input type="checkbox" style="width:20px; height:20px;" [(ngModel)]="HideReviewCompletedSites"
				/>

			</h4>

		</div>
	</div>
</div>

<div class="row" *ngIf="false">
	<div *ngFor="let item of FilteredInvestigatorSiteSummary; let indexVal = index">
		<div class="col-lg-4">
			<div class="well" [class.selected]="item.siteEnum == retSiteEnum">
				<div class="row">
					<div class="col-xs-10" style="height: 42px; overflow:hidden;">
						<h5 class="no-margin-top">
							<a target="_blank" [href]="sanitize(item.SiteUrl)">
								{{item.DisplayPosition + "." + item.SiteName |pad: 90 : "&nbsp;"}} <!--not working -->
   							</a>
						</h5>
					</div>
					<div class="col-xs-2 text-right">
						<div statusCircle [status]="item.StatusEnum" size=24 [title]="item.Status"></div>
					</div>
				</div>
				<div class="row">
					<!--<div *ngIf="item.siteEnum == retSiteEnum">aaaaa</div>-->
					<div class="col-lg-12">
						<table class="table table-bordered table-hover table-striped">
							<thead>
								<tr>
									<th>Full Match</th>
									<th>Partial Match</th>
									<th>Issues Identified</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td class="success">{{item.FullMatchCount}}</td>
									<td class="success">{{item.PartialMatchCount}}</td>
									<td class="success">{{item.IssuesFound}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-8">

						<label for="Country">Review Completed:{{item.ReviewCompleted | boolToYesNo}}</label>
					</div>
					<div class="col-lg-4">
						<button type="button" class="btn btn-primary" (click)="gotoSiteDetails(item.siteId)">Findings</button>
						
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="dividerGeneration(indexVal)">
			<div style="clear:both;"></div>
		</div>
	</div>
</div>

<div class="row">
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th class="">#</th>
				<th class="">Source Name</th>
				<th class="">Full Match</th>
				<th class="">Partial Match</th>
				<th class="">Single Comp Matches</th>
				<th class="">Issues Identified</th>
				<th class="">Status</th>
				<th class="">Review Completed</th>
				<th class="">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr class="active" *ngFor="let item of FilteredInvestigatorSiteSummary; let indexVal = index">
				<td>{{item.DisplayPosition}}</td>
				<td align="left">
					<!--<a target="_blank" [href]="sanitize(item.SiteUrl)">
                            {{item.SiteName}}
					</a>-->
					<div class="text-left" *ngIf="isUrl(item.SiteUrl)">
						<a target="_blank" [href]="sanitize(item.SiteUrl)">
							{{item.SiteName}}
						</a>
					</div>
					<div class="text-left" *ngIf="!isUrl(item.SiteUrl)">
						{{item.SiteName}}
					</div>
				</td>
				<td class="success">{{item.FullMatchCount}}</td>
				<td class="success">{{item.PartialMatchCount}}</td>
				<td class="success">{{item.SingleComponentMatchedValues}}</td>
				<td class="success">{{item.IssuesFound}}</td>
				<td class="success">{{item.Status}}</td>
				<td>
					{{item.ReviewCompleted | boolToYesNo}}
				</td>
				<td>
					<button type="button" class="btn btn-primary" (click)="gotoSiteDetails(item.SiteId)">Findings</button>
					<div *ngIf="LoggedInUserIsAppAdmin">
						Extraction Pending: {{item.ExtractionPending | boolToYesNo}} / HasExtractionError: {{item.HasExtractionError | boolToYesNo}}
						/ ExtractionErrorMessage: {{item.ExtractionErrorMessage }} / ExtractedOn : {{item.ExtractedOn }}
					</div>
				</td>
			</tr>


		</tbody>
	</table>


</div>



<p>
	<button type="button" class="btn btn-default " (click)="goBack()">BACK</button>

</p>