<div class="row">
	<div class="col-lg-12">
		<div class="well">
			<div class="row">
				<div class="col-lg-12">
					<h3 class="align-left no-margin-top">
						Search Summary
					</h3>
					<div class="alert alert-info" *ngIf="loading">
						<strong>Loading ...</strong>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<h3 class="align-left no-margin-top">
						Investigator: <strong>{{Investigator.Name}}, (Role: {{Investigator.Role}})</strong>
					</h3>
					<div *ngIf="false" statusCircle [status]="Investigator.StatusEnum" size=24 [title]="Investigator.Status"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">

		<div class="well">
			<h4>
				Summary: Sites with full Match:
				<strong>{{Investigator.Sites_FullMatchCount}}</strong> | Partial Matches: <strong>{{Investigator.Sites_PartialMatchCount}}</strong>				| Issues Identified: <strong>{{Investigator.TotalIssuesFound}}</strong>

			</h4>
			<div *ngIf="true">
				<!--Summary: {{Investigator.InvestigatorSiteStatus}}-->
				<!--<div *ngFor="let item of Summary; "> 
					{{item}}
				</div>-->

				<!--<p>ExtractedOn: {{Investigator.ExtractedOn}} </p>
				<p>ExtractionErrorSiteCount: {{Investigator.ExtractionErrorSiteCount}} </p>
				<p>HasExtractionError: {{Investigator.HasExtractionError}} </p>
				<p>Sites_FullMatchCount: {{Investigator.Sites_FullMatchCount}} </p>
				<p>Sites_PartialMatchCount: {{Investigator.Sites_PartialMatchCount}} </p>
				<p>IssuesFoundSiteCount: {{Investigator.IssuesFoundSiteCount}} </p>
				<p>ReviewCompletedSiteCount: {{Investigator.ReviewCompletedSiteCount}} </p>

					<div *ngIf="!Investigator.HasExtractionError">
						<p>Data was Extracted On: {{Investigator.ExtractedOn}} </p>
						<p>{{SiteSearchStatus.PartialMatchCount}} partially mathing records found. </p>
						<p>{{SiteSearchStatus.FullMatchCount}} fully matching records found.</p>
					</div>
					<div *ngIf="SiteSearchStatus.HasExtractionError">
						<p>Data Extraction Errors: {{SiteSearchStatus.ExtractionErrorMessage}} </p>
					</div>
				
				<p>Issues Identified: {{SiteSearchStatus.IssuesFound}} </p>
				<p>Review Completed: {{BoolYesNo(SiteSearchStatus.ReviewCompleted)}} </p>-->
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div *ngFor="let item of InvestigatorSiteSummary; let indexVal = index">
		<div class="col-lg-4">

			<div class="well" [class.selected]="item.siteEnum == retSiteEnum">
				<div class="row">
					<div class="col-xs-10" style="height: 42px; overflow:hidden;">
						<h5 class="no-margin-top">
							<a target="_blank" [href]="item.SiteUrl">
								{{item.DisplayPosition + "." + item.SiteName |pad: 90 : "&nbsp;"}} <!--not working -->
   							</a>
						</h5>
					</div>
					<div class="col-xs-2 text-right">
						<div statusCircle [status]="item.StatusEnum" size=24 [title]="item.Status"></div>
					</div>
				</div>
				<div class="row">

					<!--<div *ngIf="item.siteEnum == retSiteEnum">aaaaa</div>-->
					<div class="col-lg-12">
						<table class="table table-bordered table-hover table-striped">
							<thead>
								<tr>
									<th>Full Match</th>
									<th>Partial Match</th>
									<th>Issues Identified</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td class="success">{{item.FullMatchCount}}</td>
									<td class="success">{{item.PartialMatchCount}}</td>
									<td class="success">{{item.IssuesFound}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12" *ngIf="false">
						<p>ExtractedOn: {{item.ExtractedOn}} </p>
						<p>HasExtractionError: {{item.HasExtractionError}} </p>
						<p>ExtractionErrorMessage: {{item.ExtractionErrorMessage}} </p>
						<p>PartialMatchCount: {{item.PartialMatchCount}} </p>
						<p>IssuesFound: {{item.IssuesFound}} </p>
						<p>ReviewCompleted: {{item.ReviewCompleted}} </p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-8">

						<label for="Country">Review Completed:{{item.ReviewCompleted | boolToYesNo}}</label>
					</div>
					<div class="col-lg-4">
						<button type="button" class="btn btn-primary" (click)="gotoSiteDetails(item.siteEnum)">Findings</button>
					</div>
				</div>
			</div>


		</div>
		<div *ngIf="dividerGeneration(indexVal)">
			<div style="clear:both;"></div>
		</div>
	</div>
</div>
<p>
	<button type="button" class="btn btn-default " (click)="goBack()">BACK</button>

</p>