<!--<div class="row">-->
<div class="col-md-12">
	<div class="well">

		<h3 class="no-margin-top">Manage Reassignments</h3>
	</div>
</div>
<div class="col-md-12">
	<div class="well">
		<div class="row">
			<div class="col-md-8 ">
				<div class="row">
					<div class="col-md-6 ">
						<h4>Filters:</h4>
						<!--{{diagnostic}}-->
					</div>

				</div>
				<div class="row">
					<div class="col-md-6 ">
						<!--<div class="form-group">
								<label for="PrincipalInvestigator">Principal Investigator:</label>
								<input type="text" class="form-control" name="PrincipalInvestigator" [(ngModel)]="ComplianceFormFilter.InvestigatorName">
							</div>-->
						<div class="form-group">
							<label for="SponsorProtocolNumber">Sponsor Protocol Number:</label>
							<input type="text" class="form-control" name="SponsorProtocolNumber" [(ngModel)]="ComplianceFormFilter.SponsorProtocolNumber">
						</div>
						<!--<div class="form-group">
								<label for="SearchedOnFrom">Searched on From:</label>
								<input type="text" class="form-control" name="SearchedOnFrom" [(ngModel)]="ComplianceFormFilter.SearchedOnFrom">
							</div>							-->
						<div class="form-group">
							<label for="Status">Status:</label>
							<select class="form-control" [(ngModel)]="ComplianceFormFilter.Status">
									<option value="-1" selected="selected">All</option>
  									<option value="0">Data Not Extracted</option>
  									<option value="1">Review Completed, Issues Identified</option>
									<option value="2">Review Completed, No Issues Identified</option>  
 						     		<option value="3">Full Match Found, Review Pending</option>
									<option value="4">Partial Match Found, Review Pending</option>
							  		<option value="5">No Matched Found, Review Completed</option>              
								</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="ProjectNumber">Project Number:</label>
							<input type="text" class="form-control" name="ProjectNumber" [(ngModel)]="ComplianceFormFilter.ProjectNumber">
						</div>
						<div class="form-group">
							<label for="Country">Country:</label>
							<input type="text" class="form-control" name="Country" [(ngModel)]="ComplianceFormFilter.Country">
						</div>
						<!--<div class="form-group">
								<label for="SearchedOnTo">Searched on To:</label>
								<input type="text" class="form-control" name="SearchedOnTo" [(ngModel)]="ComplianceFormFilter.SearchedOnTo">
							</div>-->
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 ">
						<div class="form-group">
							<label for="Date">Searched On (from):</label>

							<my-date-picker [options]="myDatePickerOptions" [(ngModel)]="FromDate"></my-date-picker>

						</div>
					</div>
					<div class="col-md-6 ">
						<div class="form-group">
							<label for="Date">Searched On (to):</label>
							<my-date-picker [options]="myDatePickerOptions" [(ngModel)]="ToDate"></my-date-picker>
						</div>
					</div>
				</div>
				<button type="button" class="btn btn-primary" (click)="LoadPrincipalInvestigators()">Re-Load</button>
				<button type="button" class="btn btn-primary" (click)="SetDefaultFilterValues()">Reset Filters</button>
			</div>
			<div class="col-md-4 ">

			</div>
		</div>
		<!--</div>-->

		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="">Principal Investigator </th>
					<th class="text-left">ICON Project Number</th>
					<th class="text-left">Review Completed</th>
					<th class="text-left">Assigned To</th>
					<th class="text-center">Searched on</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of PrincipalInvestigators | paginate: { itemsPerPage: 10, currentPage: pageNumber}" class="active">

					<td class="text-left">
						{{item.Name}}
					</td>
					<td class="text-center">
						{{item.ProjectNumber}}
					</td>
					<td>
						{{item.ReviewCompleted | boolToYesNo}}
					</td>
					<td class="text-left">
						{{item.AssignedTo}}
					</td>
					<td class="text-center">
						{{item.SearchStartedOn | date: 'dd MMM yyyy'}}

					</td>
					<td class="text-center">
						<div class="btn-group">
							<!--<button type="button" class="btn btn-sm btn-primary" (click)="DownloadComplianceFormModal.generate(item.RecId,  'Principal Investigator' + item.Name)"
								[attr.title]="DownloadComplianceFormModal.Info(item.StatusEnum)" [disabled]="!DownloadComplianceFormModal.canGenerate(item.StatusEnum)">
								<span class="glyphicon glyphicon-download-alt" ></span>
								</button>-->

							<button type="button" class="btn btn-sm btn-primary" (click)="generateComplianceForm(item.RecId)"
								[disabled]="!DownloadComplianceFormModal.canGenerate(item.StatusEnum)">
								<span class="glyphicon glyphicon-download-alt" ></span>
								</button>
								
							<button type="button" class="btn btn-sm btn-primary" (click)="OpenForEdit(item)" title="Open"> <span class="glyphicon glyphicon-folder-open"></span> </button>
							<button type="button" class="btn btn-sm btn-primary" (click)="setComplianceFormToManage(item); ManageICFModal.open()" title="Manage - Reassign, Open/Close for edit"> <span class="glyphicon glyphicon-retweet"></span> </button>
							<button type="button" class="btn btn-sm btn-primary" (click)="setSelectedRecordDetails(item); DeleteConfirmModal.open()"
								title="Delete Compliance Form"> <span class="glyphicon glyphicon-remove"></span> </button>
						</div>
						<div *ngIf="LoggedInUserIsAppAdmin">
							UploadedFileName:{{item.UploadedFileName }} / GeneratedFileName: {{item.GeneratedFileName }} / ExtractionQueue: {{item.ExtractionQueue
							}} / ExtractionQuePosition: {{item.ExtractionQuePosition }} / Extraction: {{item.Extraction}} / ExtractionQueStart:
							{{item.ExtractionQueStart }} / ExtractionEstimatedCompletion: {{item.ExtractionEstimatedCompletion }} / ExtractedOn:
							{{item.ExtractedOn }} / ExtractionPendingInvestigatorCount: {{item.ExtractionPendingInvestigatorCount}} /

						</div>
						<div *ngIf="LoggedInUserIsAppAdmin">
							ExtractionErrorInvestigatorCount: {{item.ExtractionErrorInvestigatorCount }} / ExtractedInvestigatorCount: {{item.ExtractedInvestigatorCount
							}} / FullMatchesFoundInvestigatorCount: {{item.FullMatchesFoundInvestigatorCount}} / PartialMatchesFoundInvestigatorCount:
							{{item.PartialMatchesFoundInvestigatorCount }} / IssuesFoundInvestigatorCount: {{item.IssuesFoundInvestigatorCount
							}} / ReviewCompletedInvestigatorCount: {{item.ReviewCompletedInvestigatorCount}} /
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>
	</div>
</div>
<!--</div>-->

<div #DownloadComplianceFormModal download-compliance-form></div>


<modal #DeleteConfirmModal>
	<modal-header>
		<h4 class="modal-title">Delete confirm</h4>
	</modal-header>
	<modal-body>
		Compliance Form for Principal Investigator <b> {{SelectedInvestigatorName}} </b> will be deleted.
	</modal-body>
	<modal-footer>
		<button type="button" class="btn btn-default" (click)="DeleteComplianceForm(); DeleteConfirmModal.close()">Confirm Delete</button>
		<button type="button" class="btn btn-default" (click)=" DeleteConfirmModal.close()">Cancel</button>
	</modal-footer>
</modal>

<modal #ManageICFModal>
	<modal-header>
		<h4 class="modal-title">Manage: <b> {{SelectedInvestigatorName}} </b> </h4>
	</modal-header>
	<modal-body>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="AssignedTo">Assign to:</label>
					<select class="form-control" [(ngModel)]="AssignedTo">
						<option *ngFor="let item of Users" [value]="item.UserName">{{item.UserName}}</option>
					</select>
				</div>
			</div>
			<div class="col-md-2">
				<div>
					<!--<label for="Active">Open:</label>
					<input type="checkbox" [(ngModel)]="Active">-->
				</div>
			</div>
			<div class="col-md-4">
			</div>
		</div>
	</modal-body>
	<modal-footer>
		<button type="button" class="btn btn-default" (click)="manageComplianceForm(); ManageICFModal.close()">Save</button>
		<button type="button" class="btn btn-default" (click)="ManageICFModal.close()">Cancel</button>
	</modal-footer>
</modal>