<!--<div class="row">-->
<div class="col-md-12">
	<div class="well">

		<h3 class="no-margin-top">Manage Reassignments</h3>
	</div>
</div>
<div class="col-md-12">
	<div class="well">
		<div class="alert alert-info" *ngIf="loading">
			<strong>Loading ...</strong>
		</div>
		<div class="row">
			<div class="col-md-8 ">
				<div class="row">
					<div class="col-md-6 ">
						<h4>Filters:</h4>
						<!-- {{diagnostic}} -->
					</div>

				</div>
				<div class="row">
					<div class="col-md-6 ">
						<div class="form-group">
							<label for="PrincipalInvestigator">Principal Investigator:</label>
							<input type="text" class="form-control" name="PrincipalInvestigator" [(ngModel)]="ComplianceFormFilter.InvestigatorName">
						</div>
						<div class="form-group">
							<label for="Status">Status:</label>
							<select class="form-control" [(ngModel)]="ComplianceFormFilter.Status">
									<option value="-1" selected="selected">All</option>
  									<option value="0">Data Not Extracted</option>
  									<option value="1">Review Completed, Issues Identified</option>
									<option value="2">Review Completed, No Issues Identified</option>  
 						     		<option value="3">Full Match Found, Review Pending</option>
									<option value="4">Partial Match Found, Review Pending</option>
							  		<option value="5">No Matches Found, Review Pending</option>              
								</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="ProjectNumber">Project Number:</label>
							<input type="text" class="form-control" name="ProjectNumber" [(ngModel)]="ComplianceFormFilter.ProjectNumber">
						</div>
						<div class="form-group">
							<label for="AssignedTo">Assigned To:</label>
							<select class="form-control" name="AssignedTo" [(ngModel)]="ComplianceFormFilter.AssignedTo">
								<option value="-1" selected="selected">All</option>
								<option value="" selected="selected">None</option>
								<option *ngFor="let item of Users" [value]="item.UserName">{{item.UserName}}</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 ">
						<div class="form-group">
							<label for="Date">Searched On (from):</label>

							<my-date-picker [options]="myDatePickerOptions" [(ngModel)]="FromDate"></my-date-picker>

						</div>
					</div>
					<div class="col-md-6 ">
						<div class="form-group">
							<label for="Date">Searched On (to):</label>
							<my-date-picker [options]="myDatePickerOptions" [(ngModel)]="ToDate"></my-date-picker>
						</div>
					</div>
				</div>
				<button type="button" class="btn btn-primary" (click)="LoadPrincipalInvestigators()">Re-Load</button>
				<button type="button" class="btn btn-primary" (click)="SetDefaultFilterValues()">Reset Filters</button>
			</div>
			<div class="col-md-4 ">

			</div>
		</div>
		<!--</div>-->

		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="">Principal Investigator </th>
					<th class="text-left">ICON Project Number</th>
					<th class="text-left">Review Completed</th>
					<th class="text-left">Assigned to</th>
					<th class="text-center">Searched on</th>
					<th class="text-left">Input Source</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of PrincipalInvestigators | paginate: { itemsPerPage: 10, currentPage: pageNumber}; let idx=index" class="active">

					<td class="text-left">
						<!-- {{item.Name}} -->
						<h5>
							<a href="#collapseListGroup{{idx}}" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseListGroup1"> 
								{{item.Name}} 
								<span class="glyphicon glyphicon-plus plus-glyphicon" *ngIf="item.SubInvestigators.length > 0" aria-hidden="true"></span>
							</a>
						</h5>
						<div class="panel-group" role="tablist" style="border:0">
							<div class="panel panel-default" style="border:0">
								<div class="panel-collapse collapse" role="tabpanel" id="collapseListGroup{{idx}}" aria-labelledby="collapseListGroupHeading1"
									aria-expanded="false" style="border:0">
									<ul class="list-group" style="border:0">
										<li style="border:0" class="list-group-item" *ngFor="let inv of item.SubInvestigators">{{inv.Name}}</li>
									</ul>
								</div>
							</div>
						</div>
					</td>
					<td class="text-center">
						{{item.ProjectNumber}} {{item.ProjectNumber2}}
					</td>
					<td>
						{{item.ReviewCompleted | boolToYesNo}}
					</td>
					<td class="text-left">
						{{item.AssignedToFullName}}
					</td>
					<td class="text-center">
						{{item.SearchStartedOn | date: 'dd MMM yyyy HH:mm'}}
					</td>
					<td class="text-left">
						{{item.InputSource}}
					</td>					
					<td class="text-center">
						<div class="btn-group">
							<!--<button type="button" class="btn btn-sm btn-primary" (click)="DownloadComplianceFormModal.generate(item.RecId,  'Principal Investigator' + item.Name)"
								[attr.title]="DownloadComplianceFormModal.Info(item.StatusEnum)" [disabled]="!DownloadComplianceFormModal.canGenerate(item.StatusEnum)">
								<span class="glyphicon glyphicon-download-alt" ></span>
								</button>-->

							<button type="button" class="btn btn-sm btn-primary" (click)="generateComplianceForm(item.RecId)"
								[disabled]="!DownloadComplianceFormModal.canGenerate(item.StatusEnum)">
								<span class="glyphicon glyphicon-download-alt" ></span>
								</button>
								
							<button type="button" class="btn btn-sm btn-primary" (click)="OpenForEdit(item)" title="Open"> <span class="glyphicon glyphicon-folder-open"></span> </button>
							<button type="button" *ngIf="canReassignOrClearReassignment(item.CurrentReviewStatus)" class="btn btn-sm btn-primary" 
							(click)="setComplianceFormToManage(item); ManageICFModal.open()" title="Reassign">
								<span class="glyphicon glyphicon-retweet"></span>
							</button>
							<button type="button" *ngIf="canReassignOrClearReassignment(item.CurrentReviewStatus)" class="btn btn-sm btn-primary" 
							(click)="setComplianceFormToClear(item); ClearAssignedToModal.open()" title="Clear 'Assigned To'">
								<span class="glyphicon glyphicon-repeat"></span>
							</button>
							<button type="button" class="btn btn-sm btn-primary" 
							(click)="setSelectedRecordDetails(item); DeleteConfirmModal.open()" title="Delete Compliance Form">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>
	</div>
</div>
<!--</div>-->

<div #DownloadComplianceFormModal download-compliance-form></div>


<modal #DeleteConfirmModal>
	<modal-header>
		<h4 class="modal-title">Delete confirm</h4>
	</modal-header>
	<modal-body>
		Compliance Form for Principal Investigator <b> {{SelectedInvestigatorName}} </b> will be deleted.
	</modal-body>
	<modal-footer>
		<button type="button" class="btn btn-default" (click)="DeleteComplianceForm(); DeleteConfirmModal.close()">Confirm Delete</button>
		<button type="button" class="btn btn-default" (click)=" DeleteConfirmModal.close()">Cancel</button>
	</modal-footer>
</modal>

<modal #ManageICFModal>
	<modal-header>
		<h4 class="modal-title">Assign ICSF: <b> {{SelectedInvestigatorName}} </b> </h4>
	</modal-header>
	<modal-body>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="AssignedTo">Assign to:</label>
					<select class="form-control" [(ngModel)]="AssignedTo">
						<option *ngFor="let item of Users" [value]="item.UserName">{{item.UserFullName}}</option>
					</select>
				</div>
			</div>
			<div class="col-md-2">
				<div>
					<!--<label for="Active">Open:</label>
					<input type="checkbox" [(ngModel)]="Active">-->
				</div>
			</div>
			<div class="col-md-4">
			</div>
		</div>
	</modal-body>
	<modal-footer>
		<button type="button" class="btn btn-default" 
		(click)="manageComplianceForm(); ManageICFModal.close()"
		[disabled]="!assignToEnabled()">Assign</button>
		<button type="button" class="btn btn-default" (click)="ManageICFModal.close()">Cancel</button>
	</modal-footer>
</modal>

<modal #ClearAssignedToModal>
	<modal-header>
		<h4 class="modal-title">Clear 'Assigned To': <b> {{SelectedInvestigatorName}} </b> </h4>
	</modal-header>
	<modal-body>
		<div class="row">
			<div class="col-md-12">
				The 'Assigned To' will be removed.
			</div>
		</div>
	</modal-body>
	<modal-footer>
		<button type="button" class="btn btn-default" (click)="ClearAssignedTo(); ClearAssignedToModal.close()">Save</button>
		<button type="button" class="btn btn-default" (click)="ClearAssignedToModal.close()">Cancel</button>
	</modal-footer>
</modal>