<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="well">

					<h3>Add names to search</h3>

					<div class="row">
						<div class="col-md-6">
							<form #searchForm="ngForm">
								<!--#searchForm="ngForm"-->
								<div class="form-group">

									<label class="control-label" for="exampleInputEmail1">Add a name to search:</label>
									<textarea [(ngModel)]="NameToSearch" name="NameToSearch" class="form-control" id="TextArea1" rows="3" cols="30" ngcontroll="NameToSearch"
										(ngModelChange)="NameToSearch = $event" required placeholder="Enter a name to search, example:Ramesh Krishnan Venkat Narayan, first name, middle name, last name order is not important. "></textarea>
								</div>
								<button type="button" [disabled]="!searchForm.form.valid" class="btn btn-primary" (click)="goToSearch()">Add</button>
							</form>
						</div>
						<div class="col-md-6">
							<!--<form #uploadForm="ngForm" action="{{uploadUrl}}" enctype="multipart/form-data" method="post">
								<div class="form-group">

									<label for="fileupload" class="control-label"> Select a file to upload - (.csv file with list of names to search):</label>
									<input type="file" name="fileupload" value="fileupload" id="fileupload" class="form-control"   >

								</div>
								<input type="submit" value="Add a " class="btn btn-primary">
							</form>-->
							<!--ng2-uploader:-->
							
							<div class="form-group">
										
									<label for="fileupload" class="control-label">Select a file to upload - (.csv file with list of names to search):</label>
									<input type="file" ngFileSelect [options]="basicOptions" (onUpload)="handleUpload($event)" class="form-control"/>
										
								</div>
	

						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-12">

							<h3>Search Pending:</h3>
							<div class="table-responsive">

								<table class="table table-bordered">
									<thead>
										<tr>
											<th>Name to search</th>
											<th>Study</th>
											<th>Protocol</th>
											<th>Country</th>
											
											<th>Date</th>
											<th>Sites matched - full</th>
											<th>Sites matched - partial</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let item of ComplianceFormSummaryList" (click)="gotoSummaryResult(item.RecId);" class='clickable-row'>

											<td>
												
												{{item.NameToSearch}}
											</td>
											<td>
												{{item.ProjectNumber}}
											</td>
											<td>
												{{item.SponsorProtocolNumber}}
											</td>
											<td>
												{{item.Country}}
											</td>
											<td>
												{{item.SearchStartedOn}}
											</td>
											<td>
												{{item.Sites_FullMatchCount}}
											</td>
											<td>
												{{item.Sites_PartialMatchCount}}
											</td>
											
										</tr>

									</tbody>
								</table>
							</div>



							<div>


							</div>
						</div>
					</div>
				</div>

			</div>
		</div>