<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
               
                    
                    <form #searchForm="ngForm" >
                        <div class="">
                            
                            <div class="col-md-4">
                                <h2>Search for {{NameToSearch}}</h2>
                                <p>Search Websites for ...</p>
                                <div class="form-group">
                                    <label class="control-label" for="exampleInputEmail1">Name to search:</label>
                                    <textarea [(ngModel)]="NameToSearch" name="NameToSearch" class="form-control" id="TextArea1" rows="3" cols="30"
                                       ngcontroll="NameToSearch" (ngModelChange)="NameToSearch = $event" required placeholder="Enter a name to search, example:Ramesh Krishnan Venkat Narayan, first name, middle name, last name order is not important. "></textarea>
                                        <div [hidden]="!NameToSearch==''" class="alert alert-danger">
                                            Name is required
                                        </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="exampleInputEmail1">Search applies to Study:</label>
                                    <br>
                                    <select id="Select1" class="form-control">
                                    <option *ngFor="let StudyNumber of StudyNumbers" >{{StudyNumber}}</option>
                                    <!--<option *ngFor="let StudyNumber of StudyNumbers" [value]="StudyNumber.Id">{{StudyNumber.Name}}</option>-->
                                </select>
                                </div>
                                <button type="button" [disabled]="!searchForm.form.valid" class="btn btn-primary" (click)="goToSearch()">Search</button>
                            </div>
                            <div class="col-md-8">
                            </div>
                        </div>
                    </form>
               
            </div>
        </div>
    </div>
</div>