table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th{background-color:#AED6F1  }

tr:hover{background-color:#E8DAEF;  }


tr:nth-child(odd){
     background-color:#EAECEE;
}

 tr:nth-child(odd):hover{
     background-color:#E8DAEF;
}
