<div finding-edit-base [Finding]="Finding" [Title]="'Response to QC Verifier Comments'" (ValueChanged)="formValueChanged()">
    <div class="row">
        <div class="col-md-12">
            <label for="comment">
                <h4>QC Verifier's Comments:</h4>
            </label>
            <br/>
            <label>Comment Category: {{qcVerifierCommentCategoryEnum}} </label>
            <textarea class="form-control" name="Comment" rows="3" cols="30" [(ngModel)]="getQCVerifierComment.FindingComment" readonly
                placeholder="Comment">
                    </textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="comment">
                <h4>Response to QC Verifier's Comments:</h4>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>QC Correction Status:</label>
            <select class="form-control" name="CommentCategory" 
            [(ngModel)]="getQCVerifierComment.ReviewerCategoryEnum"
            (change)="formValueChanged()">
                <option value="8" selected="selected">Not Applicable</option>
                <option value="5">Correction Pending</option>
                <option value="6">Correction Completed</option>
            </select>
        </div>
    </div>
</div>