<div finding-edit-base [Finding]="Finding" [Title]="'Response to QC Verifier Comments'">
    <div class="row">
        <div class="col-md-12">
            Please correct items identified by QC Verifier and confirm
            <label for="comment">
                <h4>Respone to QC Verifier's Comments:</h4>
            </label>
            <textarea class="form-control" name="Comment"  rows="3" cols="30" required
                placeholder="Comment">
                    </textarea>
            Confirm drop down:        
        </div>
    </div>

</div>

