<div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <h4>Investigators:</h4>

                <div class="table-responsive">

                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center" colspan="3">Name to search </th>

                                <th class="">Name </th>
                                <th class="">Med. Lic No.</th>
                                <th class="">Inv Id.</th>
                                <th class="">Member Id</th>

                                <th class="">Role</th>

                                <th>Status</th>
                                <!--<th class="col-md-1">Status</th>-->

                                <th class="">Actions</th>

                            </tr>
                            <tr>
                                <th>First </th>
                                <th> Mid</th>
                                <th>Last</th>

                                <th>(for display)</th>
                                <th> </th>
                                <th></th>
                                <th></th>

                                <th></th>
                                <!--<th class="col-md-1">Status</th>-->

                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let inv of Investigators; let idx=index">


                                <td>

                                    <div *ngIf="inv.CanEdit">
                                        <p>
                                            <input type="text" name="FirstName" [(ngModel)]="inv.FirstName" class="form-control" (change)="formValueChanged()">
                                        </p>

                                    </div>
                                    <div *ngIf="!inv.CanEdit" class="text-left">
                                        <p>{{inv.FirstName}}</p>


                                    </div>


                                </td>
                                <td>

                                    <div *ngIf="inv.CanEdit">

                                        <p>
                                            <input type="text" name="MiddleName" [(ngModel)]="inv.MiddleName" (change)="formValueChanged()" class="form-control">
                                        </p>


                                    </div>
                                    <div *ngIf="!inv.CanEdit" class="text-left">

                                        <p>{{inv.MiddleName}}</p>


                                    </div>


                                </td>
                                <td>

                                    <div *ngIf="inv.CanEdit">

                                        <p>
                                            <input type="text" name="LastName" [(ngModel)]="inv.LastName" (change)="formValueChanged()" class="form-control">
                                        </p>

                                    </div>
                                    <div *ngIf="!inv.CanEdit" class="text-left">

                                        <p>{{inv.LastName}}</p>

                                    </div>


                                </td>




                                <td>
                                    <input type="text" name="invName" [(ngModel)]="inv.Name" (change)="formValueChanged()" class="form-control input-sm">
                                    <!--<div><input type="text" name="invQual" [(ngModel)]="inv.Qualification" class="form-control"></div>-->

                                </td>
                                <td>
                                    <p>
                                        <input type="text" name="invMedLic" [(ngModel)]="inv.MedicalLiceseNumber" (change)="formValueChanged()" class="form-control input-sm">
                                    </p>
                                </td>
                                <td>
                                    <input type="text" name="invId" [(ngModel)]="inv.InvestigatorId" (change)="formValueChanged()" class="form-control input-sm">

                                </td>

                                <td>
                                    <input type="text" name="memberId" [(ngModel)]="inv.MemberId" (change)="formValueChanged()" class="form-control input-sm">

                                </td>

                                <td>
                                    {{inv.Role}}

                                </td>

                                <td align="center">
                                    <div *ngIf="inv.Saved" statusCircle [status]="inv.StatusEnum" size=24 [title]="inv.Status"></div>
                                    <div *ngIf="inv.ExtractionPendingSiteCount > 0" class="glyphicon glyphicon-search"></div>
                                </td>

                                <td width="15%">

                                    <div class="btn-group ">
                                        <button type="button" class="btn btn-sm btn-primary" *ngIf="idx > 0" (click)="move(idx, 1)" data-toggle="tooltip" data-placement="top"
                                            title="Move Up">
                                            <span class="glyphicon glyphicon-chevron-up"></span>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-primary" *ngIf="idx < Investigators.length - 1" (click)="move(idx, -1)" data-toggle="tooltip"
                                            data-placement="top" title="Move Down">
                                            <span class="glyphicon glyphicon-chevron-down"></span>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-primary" (click)="setInvestigatorRemove(inv);  RemoveInvestigatorConfirmModal.open()"
                                            data-toggle="tooltip" data-placement="top" title="Remove the investigator">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-primary" (click)="gotoInvestigatorSummaryResult(inv)" [disabled]="!inv.Saved"
                                            data-toggle="tooltip" data-placement="top" title="{{inv.Help}}">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </button>
                                    </div>

                                </td>

                            </tr>
                            <tr>
                                <td align="left" colspan="10">
                                    <!--<small [hidden]="invName.valid || (invName.pristine && !f.submitted)" class="text-danger">
                                                                Name is required (minimum 3 characters).
                                                         </small>-->
                                    <button type="button" class="btn btn-primary" (click)="InvestigatorAdd()">Add an Investigator</button>

                                </td>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>


        </div>
    </div>
</div>

<modal #RemoveInvestigatorConfirmModal>
    <modal-header>
        <h4 class="modal-title">Delete confirm</h4>
    </modal-header>
    <modal-body>
        Investigator: {{InvestigatorToRemove.Name}} will be removed.
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-primary" (click)="InvestigatorRemove(); RemoveInvestigatorConfirmModal.close()">Confirm Delete</button>
        <button type="button" class="btn btn-primary" (click)=" RemoveInvestigatorConfirmModal.close()">Cancel</button>
    </modal-footer>
</modal>