<div class="row">
	<div class="col-lg-12">
		<div class="alert alert-info" *ngIf="formLoading">
			<strong>Loading ...</strong>
		</div>
		<div class="well" *ngIf="!formLoading">
			<div class="row">
				<div class="col-lg-12 ">


					<div class="row">
						<div class="col-lg-8 text-left">
							<h3 class="no-margin-top">Investigator Compliance Search Form</h3>
						</div>
						<div class="col-lg-4 text-right">
							<div statusCircle [status]="CompForm.StatusEnum" size=24 [title]="CompForm.Status"></div>
							<div *ngIf="CompForm.ExtractionPendingInvestigatorCount> 0" title="Data Extraction pending , Estimated:{{CompForm.EstimatedExtractionCompletionWithin}}"
								class="glyphicon glyphicon-search"></div>
						</div>

					</div>
					<div class="row">
						<div class="col-lg-12 text-left">
							<h4 class="no-margin-top">{{CompForm.ProjectNumber}} - {{PrincipalInvestigatorName}}</h4>
						</div>

					</div>
					<br>
					<div class="">

						<button type="button" class="btn btn-primary" (click)="goBack()">Back</button>

						
						<!--<button type="button" class="btn btn-primary" (click)="ScanNSave()" [disabled]="!f.valid || !CompForm.SearchPending ">Search</button>-->
							
						<button type="button" class="btn btn-primary" (click)="InvestigatorAdd()">Add an Investigator</button>
						<button type="button" class="btn btn-primary" [disabled]="!f.valid " (click)="Save()">Save</button>
						<!--<button type="button" class="btn btn-primary" (click)="ScanNSave()" [disabled]="!f.valid ">Scan</button>-->


						<div class="alert alert-info" *ngIf="searchInProgress">
							<strong>Scanning Sources for matching Investigator Names ...</strong>
							<p class="help-block">Processing will take a while... </p>
							<p class="help-block">You can use Back button to move to other sections and the </p>
							<p class="help-block">processing will continue in the background.</p>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-lg-12 ">

							<ul class="nav nav-tabs">

								<!--<li class="active"><a data-toggle="tab" href="#investigators-tab">Investigators</a></li>-->

								<li [class.active]="defaultTab"><a data-toggle="tab" href="#general-info-tab">General Info</a></li>
								<li [class.active]="invTab"><a data-toggle="tab" href="#investigators-tab">Investigators ({{Investigators.length}})</a></li>
								<li><a data-toggle="tab" href="#mandatory-sites-tab">Mandatory Sites ({{MandatorySites.length}})</a></li>
								<li><a data-toggle="tab" href="#additional-sites-tab">Additional Sites ({{OptionalSites.length}}) </a></li>
								<li><a data-toggle="tab" href="#findigs-tab">Findings ({{Findings.length}})</a></li>
								<li><a data-toggle="tab" href="#searched-by-tab">Searched By</a></li>
								<li><a data-toggle="tab" href="#summary">Summary</a></li>
							</ul>

							<div class="tab-content">
								<div id="general-info-tab" class="tab-pane fade {{defaultTabInActive}}">
									<h4>General Information:</h4>
									<form #f="ngForm" novalidate>

										<div class="row">
											<div class="col-lg-6">
												<div class="form-group">
													<label for="ProjectNumber">ICON Project Number (1234/1234):</label>
													<input type="text" class="form-control" name="projNumber" [(ngModel)]="CompForm.ProjectNumber" #projNumber="ngModel" required
														pattern="\d{4}/\d{4}">

													<small [hidden]="projNumber.valid || (projNumber.pristine && !f.submitted)" class="text-danger">
            											Project Number format 9999/9999 expected.
 													</small>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label for="NameToSeaICONrch">Sponsor Protocal No:</label>
													<input type="text" class="form-control" name="SponsorProtocolNumber" [(ngModel)]="CompForm.SponsorProtocolNumber">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-6">
												<div class="form-group">
													<label for="Country">Institute:</label>
													<input type="text" class="form-control" name="Institute" [(ngModel)]="CompForm.Institute">
												</div>
												<div class="form-group">
													<label for="Country">Country:</label>
													<input type="text" class="form-control" name="Country" [(ngModel)]="CompForm.Country">
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<label for="NameToSeaICONrch">Address:</label>
													<textarea name="Address" class="form-control" id="Address" rows="5" cols="30" placeholder="Address" name="Address" [(ngModel)]="CompForm.Address"></textarea>
												</div>
											</div>
										</div>

									</form>
								
								</div>
								<!--<div id="investigators-tab" class="tab-pane fade in active">-->
								<div id="investigators-tab" class="tab-pane fade {{invTabInActive}}">
									<div class="row">
										<div class="col-lg-12">
											<div class="form-group">
												<h4>Investigators :</h4>
												<div class="table-responsive">

													<table class="table table-bordered table-hover">
														<thead>
															<tr>
																<th class="col-md-2 text-left">Name</th>
																<th class="">Qualifications</th>
																<th class="">Med. Lic No. / ML#</th>
																<th class="">Inv. Id</th>
																<th class="">Role</th>

																<th >Status</th>
																<!--<th class="col-md-1">Status</th>-->

																<th class="col-md-2">Actions</th>

															</tr>
														</thead>
														<tbody>
															<tr *ngFor="let inv of Investigators; let idx=index">


																<td>

																	<div *ngIf="inv.CanEdit">
																		<input type="text" name="invName" [(ngModel)]="inv.Name" class="form-control">
																	</div>
																	<div *ngIf="!inv.CanEdit" class="text-left">{{inv.Name}}</div>


																</td>
																<td>
																	<div><input type="text" name="invQual" [(ngModel)]="inv.Qualification" class="form-control"></div>

																</td>
																<td>
																	<div><input type="text" name="invMedLic" [(ngModel)]="inv.MedicalLiceseNumber" class="form-control"></div>

																</td>
																<td>
																	<div><input type="text" name="invId" [(ngModel)]="inv.InvestigatorId" class="form-control"></div>

																</td>
																<td>
																	{{inv.Role}}
																</td>

																<td align="center">
																	<div *ngIf="inv.Saved" statusCircle [status]="inv.StatusEnum" size=24 [title]="inv.Status"></div>
																	<div *ngIf="inv.ExtractionPendingSiteCount > 0" class="glyphicon glyphicon-search"></div>
																</td>

																<td>
																	<div class="btn-group">
																	<button type="button" class="btn btn-sm btn-primary" *ngIf="idx > 0" (click)="move(idx, 1)" data-toggle="tooltip" data-placement="top" title="Move Up" > <span class="glyphicon glyphicon-chevron-up"></span></button>
																	<button type="button" class="btn btn-sm btn-primary" *ngIf="idx < Investigators.length - 1" (click)="move(idx, -1)" data-toggle="tooltip" data-placement="top" title="Move Down"><span class="glyphicon glyphicon-chevron-down"></span></button>
																	<button type="button" class="btn btn-sm btn-primary" (click)="setInvestigatorRemove(inv);  RemoveInvestigatorConfirmModal.open()"
																		data-toggle="tooltip" data-placement="top" title="Remove the investigator"><span class="glyphicon glyphicon-remove" ></span></button>
																	<button type="button" class="btn btn-sm btn-primary" (click)="gotoInvestigatorSummaryResult(inv)" [disabled]="!inv.Saved" data-toggle="tooltip" data-placement="top" title="{{inv.Help}}"><span class="glyphicon glyphicon-edit" ></span></button>
																	</div>
																</td>

															</tr>
															<tr>
																<td style="align-left" colspan="7">
																	<!--<small [hidden]="invName.valid || (invName.pristine && !f.submitted)" class="text-danger">
            											Name is required (minimum 3 characters).
 												</small>-->

																
																</td>
															</tr>
														</tbody>
													</table>


												</div>
											</div>


										</div>
									</div>

								</div>
								<div id="mandatory-sites-tab" class="tab-pane fade">
									<div class="row">
										<div class="col-lg-12">
											<div class="form-group">
												<br>
												<h4>Mandatory Sites participating in the search:</h4>
												<div class="table-responsive">
													<table class="table table-bordered table-hover">
														<thead>
															<tr>
																<th class="">#</th>
																<th class="">Source Name</th>
																<th class="">Source Date</th>
																<th class="">Extraction Mode</th>
																
																<th class="">Issues Identified</th>

															</tr>
														</thead>
														<tbody>
															<tr class="active" *ngFor="let item of MandatorySites; let idx = index;">
																<td>{{item.DisplayPosition}}</td>
																<td>
																	<div class="text-left">

																		<a target="_blank" [href]="sanitize(item.SiteUrl)">
                                                							 {{item.SiteName}}
																		</a>
																	</div>

																</td>
																
																<td>
																	{{item.SiteSourceUpdatedOn | date: 'dd MMM yyyy'}}
																</td>
																<td>
																	{{item.ExtractionMode}}
																</td>
																<td>
																	{{item.IssuesIdentified | boolToYesNo}}

																</td>

															</tr>

														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>

								</div>
								<div id="additional-sites-tab" class="tab-pane fade">
									<div class="row">
										<div class="col-lg-12">
											<div class="form-group">
												<br>
												<h4>Additional Sites participating in the search:</h4>
												<div class="table-responsive">
													<table class="table table-bordered table-hover">
														<thead>
															<tr>
																<th class="">#</th>
																<th class="">Source Name</th>

																<th class="">Issues Identified</th>
																<th class="">Remove</th>
															</tr>
														</thead>
														<tbody>
															<tr class="active" *ngFor="let item of OptionalSites; let idx = index;">
																<td>{{item.DisplayPosition}}</td>
																<td>
																	<div class="text-left">

																		<a target="_blank" [href]="sanitize(item.SiteUrl)">
                                                							 {{item.SiteName}}
                                            								</a>
																	</div>

																</td>

																<td>
																	{{item.IssuesIdentified | boolToYesNo}}
																</td>
																<td>
																	<button type="button" class="btn btn-xs btn-primary" (click)="setSiteToRemove(item); RemoveSiteConfirmModal.open();" *ngIf="item.IsMandatory == false">X</button>
																</td>
															</tr>
															<tr>
																<td colspan="5">
																	<div class="text-left"><button type="button" class="btn btn-primary" (click)="AddSiteModal.open()">Add</button> </div>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div id="findigs-tab" class="tab-pane fade">
									<div class="row">
										<div class="col-lg-12">
											<div class="form-group">
												<h4>Findings (Issues identified):</h4>
												<div class="table-responsive">
													<table class="table table-bordered table-hover">
														<thead>
															<tr>
																<th class="col-md-1">Source #</th>
																<th class="col-md-3">Investigator</th>
																<th class="col-md-2">Date of Inspection / Action</th>
																<th class="col-md-6">Description of Findings</th>

															</tr>
														</thead>
														<tbody>
															<tr class="active" *ngFor="let item of Findings; ">
																<td>
																	{{item.SourceNumber}}
																</td>
																<td align="left">
																	{{item.InvestigatorName}}
																</td>
																<td>
																	{{item.DateOfInspection |date:'dd MMM yyyy' }}
																</td>
																<td align="left">
																	
																	<!--<div *ngIf="item.RecordDetails"><br> </div>-->
																	<!--{{item.Observation}}-->
																	<textarea   [(ngModel)]="item.Observation" rows="3" cols="60" readonly style="border: none"></textarea>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>


										</div>

									</div>
								</div>
								<div id="searched-by-tab" class="tab-pane fade">
									<div class="row">
										<div class="col-lg-12">
											<div class="form-group">
												<h4>Search Performed By:</h4>
												<div class="row">
													<div class="col-lg-6">
														<label for="NameToSeaICONrch">Searched By:</label>
														<label class="form-control">{{CompForm.AssignedTo}}</label>

													</div>
													<div class="col-lg-6">
														<label for="NameToSeaICONrch">Searched On:</label>
														<label class="form-control">{{CompForm.SearchStartedOn | date: 'dd MMM yyyy'}}</label>

													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div id="summary" class="tab-pane fade ">
									<h4>Summary:</h4>

									<p>Search Started On: {{CompForm.SearchStartedOn | date: 'dd MMM yyyy H:m'}} </p>
									<p>Extraction Pending for {{CompForm.ExtractionPendingInvestigatorCount}} Investigator(s)</p>
									<p>Extraction Que : {{CompForm.ExtractionQueue}} </p>
									<p>Extraction Que Position: {{CompForm.ExtractionQuePosition}} </p>
									<p>Extraction Que Started At: {{CompForm.ExtractionQueStart | date: 'dd MMM yyyy H:m'}} </p>
									<p>Estimated Extraction Completion within: {{CompForm.EstimatedExtractionCompletionWithin}} </p>

									<p>Extraction Error for {{CompForm.ExtractionErrorInvestigatorCount}} Investigator(s)</p>
									<p>Data Extracted for {{CompForm.ExtractedInvestigatorCount}} Investigator(s)</p>

									<p>Extracted On: {{CompForm.ExtractedOn | date: 'dd MMM yyyy H:m'}} </p>
									<p>Partial Matches Found for {{CompForm.PartialMatchesFoundInvestigatorCount}} Investigator(s) Investigator(s)</p>
									<p>Full Matches Found for {{CompForm.FullMatchesFoundInvestigatorCount}} Investigator(s)</p>
									<p>Issues Found for {{CompForm.IssuesFoundInvestigatorCount}} Investigator(s)</p>
									<p>Review Completed for {{CompForm.ReviewCompletedInvestigatorCount}} Investigator(s)</p>

									<!--not ready original file name has to be stored in comp form	-->
									<!--<p>Data Uploaded by file: {{CompForm.UploadedFileName }} </p>-->

								</div>

							</div>

						</div>
					</div>
					<div class="">
						<button type="button" class="btn btn-primary" (click)="goBack()">Back</button>
						
						<button type="button" class="btn btn-primary" (click)="InvestigatorAdd()">Add an Investigator</button>
						<button type="button" class="btn btn-primary" [disabled]="!f.valid " (click)="Save()">Save</button>
					 <!--<button type="button" class="btn btn-primary" (click)="ScanNSave()" [disabled]="!f.valid ">Scan</button>-->


						<div class="alert alert-info" *ngIf="searchInProgress">
							<strong>Scanning Sources for matching Investigator Names ...</strong>
							<p class="help-block">Processing will take a while... </p>
							<p class="help-block">You can use Back button to move to other sections and the </p>
							<p class="help-block">processing will continue in the background.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<modal #AddSiteModal>
	<modal-header>
		<h4>Include additional sites to search.</h4>
	</modal-header>
	<modal-body>

		<table class="table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th class="col-md-2">SelectAll
						<input type="checkbox" [(ngModel)]="Selected" (click)="selectionChange()" [checked]="true" />
					</th>
					<th class="col-md-6">Site</th>

				</tr>
			</thead>
			<tbody>
				<tr class="active" *ngFor="let item of SitesAvalaibleToInclude">
					<td>
						<input type="checkbox" [(ngModel)]="item.Selected" />
					</td>
					<td>
						<div class="text-left">
							<a target="_blank" [href]="sanitize(item.SiteUrl)">
								{{item.SiteName}}
								</a>
						</div>

					</td>

				</tr>

			</tbody>
		</table>

	</modal-body>
	<modal-footer>
		<button type="button" class="btn btn-primary" (click)="AddSelectedSite(); AddSiteModal.close()">Add</button>
		<button type="button" class="btn btn-primary" (click)="AddSiteModal.close()">Cancel</button>
	</modal-footer>
</modal>
<modal #RemoveInvestigatorConfirmModal>
	<modal-header>
		<h4 class="modal-title">Delete confirm</h4>
	</modal-header>
	<modal-body>
		Investigator: {{InvestigatorToRemove.Name}} will be removed.
	</modal-body>
	<modal-footer>
		<button type="button" class="btn btn-primary" (click)="InvestigatorRemove(); RemoveInvestigatorConfirmModal.close()">Confirm Delete</button>
		<button type="button" class="btn btn-primary" (click)=" RemoveInvestigatorConfirmModal.close()">Cancel</button>
	</modal-footer>
</modal>

<modal #RemoveSiteConfirmModal>
	<modal-header>
		<h4 class="modal-title">Confirm Delete</h4>
	</modal-header>
	<modal-body>
		Site: {{siteToRemove.SiteName}} will be removed.
	</modal-body>
	<modal-footer>
		<button type="button" class="btn btn-primary" (click)="RemoveSite(); RemoveSiteConfirmModal.close()">Confirm Delete</button>
		<button type="button" class="btn btn-primary" (click)=" RemoveSiteConfirmModal.close()">Cancel</button>
	</modal-footer>
</modal>