<div class="row">
	<div class="col-lg-12">
		<div class="alert alert-info" *ngIf="formLoading">
			<strong>Loading ...</strong>


		</div>
		<div class="well" *ngIf="!formLoading">
			<div class="row">
				<div class="col-lg-12 ">
					<!-- {{diagnostic}} -->
					<div class="row">
						<div class="col-lg-8 text-left">
							<h3 class="no-margin-top">Investigator Compliance Search Form</h3>
						</div>
						<div class="col-lg-4 text-right">
							<div statusCircle [status]="CompForm.StatusEnum" size=24 [title]="CompForm.Status"></div>
							<div *ngIf="CompForm.ExtractionPendingInvestigatorCount> 0" title="Data Extraction pending , Estimated:{{CompForm.EstimatedExtractionCompletionWithin}}"
							 class="glyphicon glyphicon-search"></div>
						</div>

					</div>
					<div class="row">
						<div class="col-lg-12 text-left">
							<h4 class="no-margin-top">{{CompForm.ProjectNumber}} - {{PrincipalInvestigatorName}}</h4>
							{{reviewStatus}}
						</div>

					</div>
					<br>
					<div class="">

						<button type="button" class="btn btn-primary" (click)="goBack()">Back</button>

						<!-- <button type="button" class="btn btn-primary" [disabled]="!f.valid " (click)="Save()">Save</button> -->
						<button type="button" class="btn btn-primary"  (click)="Save()">Save</button>
						

						<div class="alert alert-info" *ngIf="searchInProgress">
							<strong>Scanning Sources for matching Investigator Names ...</strong>
							<p class="help-block">Processing will take a while... </p>
							<p class="help-block">You can use Back button to move to other sections and the </p>
							<p class="help-block">processing will continue in the background.</p>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-lg-12 " statusCircle-Legend-Horizontal></div>

					</div>
					<div class="row">
						<div class="col-lg-12 ">

							<ul class="nav nav-tabs">

								<!--<li class="active"><a data-toggle="tab" href="#investigators-tab">Investigators</a></li>-->

								<li [class.active]="defaultTab">
									<a data-toggle="tab" href="#general-info-tab">General Info</a>
								</li>
								<li [class.active]="instituteTab">
									<a data-toggle="tab" href="#institute-tab">Institute</a>
								</li>
								<li [class.active]="invTab">
									<a data-toggle="tab" href="#investigators-tab">Investigators ({{Investigators.length}})</a>
								</li>
								<li>
									<a data-toggle="tab" href="#mandatory-sites-tab">Mandatory Sites ({{MandatorySites.length}})</a>
								</li>
								<li>
									<a data-toggle="tab" href="#additional-sites-tab">Additional Sites ({{OptionalSites.length}}) </a>
								</li>
								<li>
									<a data-toggle="tab" href="#findigs-tab">Findings ({{Findings.length}})</a>
								</li>
								<li>
									<a data-toggle="tab" href="#searched-by-tab">Searched By</a>
								</li>
								<li>
									<a data-toggle="tab" href="#summary">Summary</a>
								</li>
							</ul>

							<div class="tab-content">
								<div id="general-info-tab" class="tab-pane fade {{defaultTabInActive}}">
									<div *ngIf="!isQCVerifier" comp-form-general-edit [CompForm]="CompForm" (ValueChanged)="formValueChanged($event)"></div>
									<div *ngIf="isQCVerifier" comp-form-general-view [CompForm]="CompForm"></div>
								</div>
								<div id="institute-tab" class="tab-pane fade">
									<div *ngIf="!isQCVerifier" comp-form-institute-edit [CompForm]="CompForm" [RootPath]="rootPath" (ValueChanged)="formValueChanged($event)"></div>
									<div *ngIf="isQCVerifier" comp-form-institute-view [CompForm]="CompForm" [RootPath]="rootPath"></div>
								</div>
								<div id="investigators-tab" class="tab-pane fade {{invTabInActive}}">
									<div *ngIf="!isQCVerifier" comp-form-investigator-edit [CompForm]="CompForm" (pageChanged)="formValueChanged()" [ReturnPath]="rootPath"></div>
									<div *ngIf="isQCVerifier" comp-form-investigator-view [CompForm]="CompForm" [ReturnPath]="rootPath"></div>
								</div>
								<div id="mandatory-sites-tab" class="tab-pane fade">
									<div *ngIf="!isQCVerifier" comp-form-mandatory-sites-edit [CompForm]="CompForm" (ValueChanged)="formValueChanged($event)"></div>
									<div *ngIf="isQCVerifier" comp-form-mandatory-sites-view [CompForm]="CompForm"></div>
								</div>
								<div id="additional-sites-tab" class="tab-pane fade">
									<div *ngIf="!isQCVerifier" comp-form-additional-sites-edit [CompForm]="CompForm" (ValueChanged)="formValueChanged($event)"></div>
									<div *ngIf="isQCVerifier" comp-form-additional-sites-view [CompForm]="CompForm"></div>
								</div>
								<div id="findigs-tab" class="tab-pane fade">
									<div *ngIf="!isQCVerifier" comp-form-findings-edit [CompForm]="CompForm"></div>
								</div>
								<div id="searched-by-tab" class="tab-pane fade">
									<div comp-form-searched-by [CompForm]="CompForm"></div>
								</div>
								<div id="summary" class="tab-pane fade ">
									<div comp-form-summary [CompForm]="CompForm"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="">
						<button type="button" class="btn btn-primary" (click)="goBack()">Back</button>
						<!-- <button type="button" class="btn btn-primary" [disabled]="!f.valid " (click)="Save()">Save</button> -->
						<button type="button" class="btn btn-primary" [disabled]="!isFormValid" (click)="Save()">Save</button>
						<div class="alert alert-info" *ngIf="searchInProgress">
							<strong>Scanning Sources for matching Investigator Names ...</strong>
							<p class="help-block">Processing will take a while... </p>
							<p class="help-block">You can use Back button to move to other sections and the </p>
							<p class="help-block">processing will continue in the background.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<modal #AddSiteModal>
	<modal-header>
		<h4>Include additional sites to search.</h4>
	</modal-header>
	<modal-body>

		<!--******************-->
		<div class="row">
			<div class="col-lg-12">

				<div class="well">
					<form #frmAddSite="ngForm" novalidate>
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group">
									<label for="siteSources">Select Site:</label>
									<select class="form-control" [(ngModel)]="SiteSource.RecId" name="siteSources" (change)="onSiteSourceChange($event.target.value)"
									 required>
										<option *ngFor="let item of SiteSources" value={{item.RecId}} selected="selected">
											{{item.SiteName}}
											<!--{{item.SiteUrl}}-->
										</option>
									</select>

									<label for="siteShortName">Site Short Name:</label>
									<input type="text" name="siteShortName" class="form-control" value="SiteSource.SiteShortName" [(ngModel)]="SiteSource.SiteShortName"
									 required>

									<label for="url"> Url:</label>
									<input type="text" name="url" class="form-control" value="SiteSource.SiteUrl" [(ngModel)]="SiteSource.SiteUrl" required>

									<label for="appliesTo">Search Applies To:</label>
									<select class="form-control" [(ngModel)]="SiteSource.SearchAppliesTo" name="appliesTo" (change)="onSearchAppliesToChange($event.target.value)"
									 required>
										<option *ngFor="let item of AppliesToItems" value={{item.name}} selected="selected">{{item.name}}</option>
									</select>

								</div>
							</div>

							<div site-source-toadd></div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<button type="button" class="btn btn-primary" [disabled]="!frmAddSite.valid " (click)="AddSelectedSite();AddSiteModal.close()"
								 title="Save">
									<span class="glyphicon glyphicon-ok"> Add</span>
								</button>
								<button type="button" class="btn btn-primary" (click)="AddSiteModal.close()" title="Cancel">Cancel</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!--*****************-->



		<!--<table class="table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th class="col-md-2">SelectAll
						<input type="checkbox" [(ngModel)]="Selected" (click)="selectionChange()" [checked]="true" />
					</th>
					<th class="col-md-6">Site</th>

				</tr>
			</thead>
			<tbody>
				<tr class="active" *ngFor="let item of SitesAvalaibleToInclude">
					<td>
						<input type="checkbox" [(ngModel)]="item.Selected" />
					</td>
					<td>
						<div class="text-left" *ngIf="item.SiteUrl.length > 0">
							<a target="_blank" [href]="sanitize(item.SiteUrl)">
								{{item.SiteName}}
								</a>
						</div>
						<div class="text-left" *ngIf="item.SiteUrl.length == 0">

							{{item.SiteName}}
						</div>

					</td>

				</tr>

			</tbody>
		</table>-->

	</modal-body>
	<modal-footer>
		<!--<button type="button" class="btn btn-primary" (click)="AddSelectedSite(); AddSiteModal.close()">Add</button>
		<button type="button" class="btn btn-primary" (click)="AddSiteModal.close()">Cancel</button>-->


	</modal-footer>
</modal>

<modal #RemoveInvestigatorConfirmModal>
	<modal-header>
		<h4 class="modal-title">Delete confirm</h4>
	</modal-header>
	<modal-body>
		Investigator: {{InvestigatorToRemove.Name}} will be removed.
	</modal-body>
	<modal-footer>
		<button type="button" class="btn btn-primary" (click)="InvestigatorRemove(); RemoveInvestigatorConfirmModal.close()">Confirm Delete</button>
		<button type="button" class="btn btn-primary" (click)=" RemoveInvestigatorConfirmModal.close()">Cancel</button>
	</modal-footer>
</modal>

<modal #RemoveSiteConfirmModal>
	<modal-header>
		<h4 class="modal-title">Confirm Delete</h4>
	</modal-header>
	<modal-body>
		Site: {{siteToRemove.SiteName}} will be removed.
	</modal-body>
	<modal-footer>
		<button type="button" class="btn btn-primary" (click)="RemoveSite(); RemoveSiteConfirmModal.close()">Confirm Delete</button>
		<button type="button" class="btn btn-primary" (click)=" RemoveSiteConfirmModal.close()">Cancel</button>
	</modal-footer>
</modal>

<modal #FindingsAddModal>
	<modal-header>
		<h4 class="modal-title">Edit Finding</h4>
	</modal-header>
	<modal-body>
		<div class="row">
			<div class="col-md-12">
				<h5>Findings:</h5>
				<textarea class="form-control" name="Observation" [(ngModel)]="selectedFinding.Observation" rows="3" cols="30" required placeholder="Observations"></textarea>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<label>
					<h5>Date of Inspection / Action:</h5>
				</label>
				<div date-picker [(DateValue)]="selectedFinding.DateOfInspection"></div>
			</div>
		</div>
	</modal-body>
	<modal-footer>
		<button type="button" class="btn btn-primary" (click)="FindingsAddModal.close()">Close</button>
	</modal-footer>
</modal>