<div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <br>
                <h4>Mandatory Sites participating in the search --- View:</h4>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-1">#</th>
                                <th class="col-md-5">Source Name</th>
                                <th class="col-md-2">Extraction Mode</th>
                                <th class="col-md-2">Source Date</th>

                                <th class="col-md-1">Applies To</th>
                                <th class="col-md-1">Issues Identified</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr class="active" *ngFor="let item of MandatorySites; let idx = index;">
                                <td>{{item.DisplayPosition}}</td>
                                <td>
                                    <!--<div class="text-left">

                                        <a target="_blank" [href]="sanitize(item.SiteUrl)">
                                             {{item.SiteName}}
                                        </a>
                                    </div>-->
                                    <div class="text-left" *ngIf="isUrl(item.SiteUrl)">
                                        <a target="_blank" [href]="sanitize(item.SiteUrl)">
                                             {{item.SiteName}}
                                            </a>
                                    </div>
                                    <div class="text-left" *ngIf="!isUrl(item.SiteUrl) ">
                                        {{item.SiteName}}
                                    </div>


                                </td>
                                <td>
                                    {{item.ExtractionMode}}
                                </td>
                                <td>
                                        {{item.SiteSourceUpdatedOn | date: 'dd MMM yyyy'}}
                                </td>

                                <td>
                                    {{item.SearchAppliesToText}}
                                </td>
                                <td>
                                    {{item.IssuesIdentified | boolToYesNo}}

                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>